#timer {
        width: 150px; 
        height: 150px; 
        border-radius: 50%; 
        background-color: #f4f4f4; 
        display: flex;
        justify-content: center;
        align-items: center;
    }
    

